.container{
    position: relative;
    display: flex;
    flex-direction: row;
}
.div1, .div2, .div3, .div4{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    border-radius: 50%;
}
.div1{
    position: absolute;
    /* left: 30px; */
    background-color: red;
    z-index: 1;
}

.div2{
    position: absolute;
    left: 50px;
    background-color: green;
    z-index: 2;
}

.div3{
    position: fixed;
    left: 100px;
    background-color: blue;
}
.div4{
    position: absolute;
    left: 150px;
    background-color: yellow;
}